

#iidee{
justify-content: center;
margin: 0 auto;
background-color: rgba(63, 63, 63, 0.15);
width: 15vw;
}

body{
  background-image: url(beach-1869523_960_720.jpg);
background-repeat: no-repeat;
background-size: cover;
}

h1{
  text-align: center;
}
  